Repository ironcore-dev/libvirt-provider, pull requests merged in 2023-12, with the labels that each got.

#62 Improved reconciliation
  pkg/controllers/machine_controller.go
Labels: enhancement, size/S, controllers

#68 Add `chore` and `enhancement` auto categorisation to release drafter
  .github/release-drafter.yml
Labels: size/XS, chore

#69 Implemented `Volume` encryption support
  go.mod
  go.sum
  pkg/api/machine.go
  pkg/controllers/machine_controller_volumes.go
  pkg/plugins/volume/ceph/ceph.go
  provider/server/machine.go
Labels: enhancement, size/M, controllers, server

#76 Refactor `virtlet` occurrences to `libvirt-provider`
  pkg/controllers/machine_controller.go
  pkg/controllers/machine_controller_nics.go
  pkg/controllers/machine_controller_volumes.go
  pkg/mcr/registry.go
  pkg/meta/meta.go
  pkg/meta/meta_test.go
  pkg/os/gpuutils/gpuutils_suite_test.go
  pkg/os/gpuutils/gpuutils_test.go
  pkg/plugins/networkinterface/apinet/apinet.go
  pkg/plugins/networkinterface/isolated/isolated.go
  pkg/plugins/networkinterface/plugins.go
  pkg/plugins/networkinterface/providernetwork/providernetwork.go
  pkg/providerhost/host.go
  pkg/source/source.go
  provider/apiutils/apiutils.go
  provider/cmd/app/app.go
  provider/networkinterfaceplugin/apinet.go
  provider/networkinterfaceplugin/isolated.go
  provider/networkinterfaceplugin/libvirt.go
  provider/networkinterfaceplugin/options.go
  provider/server/exec.go
  provider/server/machine.go
  provider/server/machine_annotations_update.go
  provider/server/machine_create.go
  provider/server/machine_create_test.go
  provider/server/machine_delete.go
  provider/server/machine_list.go
  provider/server/machine_networkinterface_attach.go
  provider/server/machine_networkinterface_detach.go
  provider/server/machine_powerstate_update.go
  provider/server/machine_volume_attach.go
  provider/server/machine_volume_detach.go
  provider/server/server.go
  provider/server/server_suite_test.go
  provider/server/status.go
  provider/server/version.go
Labels: bug, size/XL, controllers, server

#80 Add missing Favicon Icons
  docs/assets/favicon.png
  docs/assets/logo.png
Labels: size/XS, chore

#81 Terminate `libvirt-provider` if initializing fails
  provider/cmd/app/app.go
Labels: bug, size/XS

#84 Configuring Metadata in DomainXML
  pkg/controllers/machine_controller.go
  pkg/meta/meta.go
  pkg/meta/meta_test.go
  pkg/source/source.go
  provider/server/machine_create.go
Labels: bug, size/L, controllers, server

#87 Add poollet `clusterrole` and bindings
  config/libvirt-provider/default/kustomization.yaml
  config/libvirt-provider/poollet-rbac/clusterrole.yaml
  config/libvirt-provider/poollet-rbac/clusterrole_binding.yaml
  config/libvirt-provider/poollet-rbac/kustomization.yaml
  config/libvirt-provider/poollet-rbac/service_account.yaml
  config/libvirt-provider/provider-rbac/auth_proxy_client_clusterrole.yaml
  config/libvirt-provider/provider-rbac/auth_proxy_role.yaml
  config/libvirt-provider/provider-rbac/auth_proxy_role_binding.yaml
  config/libvirt-provider/provider-rbac/auth_proxy_service.yaml
  config/libvirt-provider/provider-rbac/cluster_role.yaml
  config/libvirt-provider/provider-rbac/cluster_role_binding.yaml
  config/libvirt-provider/provider-rbac/kustomization.yaml
  config/libvirt-provider/provider-rbac/leader_election_role.yaml
  config/libvirt-provider/provider-rbac/leader_election_role_binding.yaml
  config/libvirt-provider/provider-rbac/role.yaml
  config/libvirt-provider/provider-rbac/role_binding.yaml
  config/libvirt-provider/provider-rbac/service_account.yaml
Labels: size/L

#92 Refactor RBAC for provider and poollet
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_config_patch.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/libvirt-provider-onmetal/default/kustomization.yaml
  config/libvirt-provider-onmetal/libvirt-provider-rbac/cluster_role.yaml
  config/libvirt-provider-onmetal/libvirt-provider-rbac/cluster_role_binding.yaml
  config/libvirt-provider-onmetal/libvirt-provider-rbac/role_binding.yaml
  config/libvirt-provider/default/manager_auth_proxy_patch.yaml
  config/libvirt-provider/poollet-rbac/kustomization.yaml
  config/libvirt-provider/poollet-rbac/service_account.yaml
  config/libvirt-provider/provider-rbac/auth_proxy_client_clusterrole.yaml
  config/libvirt-provider/provider-rbac/auth_proxy_role.yaml
  config/libvirt-provider/provider-rbac/auth_proxy_role_binding.yaml
  config/libvirt-provider/provider-rbac/auth_proxy_service.yaml
  config/libvirt-provider/provider-rbac/cluster_role.yaml
  config/libvirt-provider/provider-rbac/cluster_role_binding.yaml
  config/libvirt-provider/provider-rbac/kustomization.yaml
  config/libvirt-provider/provider-rbac/leader_election_role.yaml
  config/libvirt-provider/provider-rbac/role.yaml
  config/libvirt-provider/provider-rbac/role_binding.yaml
  config/libvirt-provider/provider-rbac/service_account.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/cluster_role.yaml
  config/rbac/cluster_role_binding.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  hack/validate-kustomize.sh
Labels: enhancement, size/XL

#65 Support Machine Exec
  .gitignore
  go.mod
  go.sum
  provider/cmd/app/app.go
  provider/http/server.go
  provider/http/server_test.go
  provider/server/exec.go
  provider/server/exec_test.go
  provider/server/machine_create_test.go
  provider/server/server.go
  provider/server/server_suite_test.go
Labels: enhancement, size/L, server
