Repository ironcore-dev/libvirt-provider, pull requests merged in 2024-03, with the labels that each got.

#210 set ResyncIntervalVolumeSize in integration tests
  provider/server/server_suite_test.go
Labels: bug, size/XS, server, integration-tests

#200 Add test cases for serverExec
  go.mod
  go.sum
  provider/cmd/app/app.go
  provider/http/server_test.go
  provider/server/exec_test.go
  provider/server/server_suite_test.go
Labels: enhancement, size/L, server, integration-tests

#191 Add `ResourceVersion` to internal `Machine` type
  pkg/api/api.go
  pkg/host/store.go
  pkg/store/store.go
Labels: bug, size/M, controllers, server, integration-tests

#223 stop rewrite DeletedAt for every call
  pkg/host/store.go
Labels: size/XS, integration-tests

#229 Improved integration tests
  provider/server/exec_test.go
  provider/server/machine_annotations_update_test.go
  provider/server/machine_create_test.go
  provider/server/machine_delete_test.go
  provider/server/machine_list_test.go
  provider/server/machine_networkinterface_attach_test.go
  provider/server/machine_networkinterface_detach_test.go
  provider/server/machine_powerstate_update_test.go
  provider/server/machine_volume_attach_test.go
  provider/server/machine_volume_detach_test.go
Labels: bug, size/L, server, integration-tests

#189 Honor graceful shutdown in `deleteMachine` integration test
  provider/server/machine_create_test.go
  provider/server/machine_delete_test.go
  provider/server/server_suite_test.go
Labels: enhancement, size/L, server, integration-tests

#228 Removing `virsh` dependency
  .github/workflows/integration-test.yml
  docs/development/setup.md
  provider/cmd/app/app.go
  provider/server/exec.go
  provider/server/server.go
  provider/server/server_suite_test.go
Labels: documentation, enhancement, size/L, server, integration-tests

#243 Filter machine lifecycle events
  pkg/controllers/machine_controller.go
Labels: enhancement, size/S, controllers

#233 Removed `dd` dependency
  Dockerfile
  pkg/raw/raw_exec.go
Labels: enhancement, size/M, integration-tests

#253 57 implement support for metrics server
  go.mod
  go.sum
  provider/cmd/app/app.go
  provider/server/server_suite_test.go
Labels: size/M, server, integration-tests, dt-target

#196 Implemented metrics endpoint
  provider/cmd/app/app.go
  provider/server/server_suite_test.go
Labels: size/M, server, integration-tests

#255 Osc/170 implement a resource management component
  pkg/api/machine.go
  pkg/controllers/machine_controller.go
  pkg/mcr/registry.go
  pkg/resources/manager/functions.go
  pkg/resources/manager/interfaces.go
  pkg/resources/manager/machineclasses.go
  pkg/resources/manager/manager.go
  pkg/resources/manager/manager_suite_test.go
  pkg/resources/manager/manager_test.go
  pkg/resources/sources/cpu.go
  pkg/resources/sources/dummy.go
  pkg/resources/sources/memory.go
  provider/cmd/app/app.go
  provider/server/machine_create.go
  provider/server/status.go
  provider/server/status_test.go
Labels: size/XXL, controllers, server, dt-target
