Repository ironcore-dev/libvirt-provider, pull requests merged in 2024-01, with the labels that each got.

#108 Add missing `NODE_NAME` env var to provider container in daemonset
  config/manager/manager.yaml
Labels: bug, size/XS

#109 Fix nil deref in volume encryption handling
  pkg/controllers/machine_controller_volumes.go
Labels: bug, size/XS, controllers

#111 Implemented `AttachNetworkInterface` and `DetachNetworkInterface`
  provider/cmd/app/app.go
  provider/server/machine.go
  provider/server/machine_networkinterface_attach.go
  provider/server/machine_networkinterface_detach.go
  provider/server/server.go
Labels: size/L, server

#104 Support for `Volume` resize
  go.mod
  go.sum
  pkg/api/machine.go
  pkg/controllers/machine_controller.go
  pkg/controllers/machine_controller_volumes.go
  pkg/event/event.go
  pkg/plugins/volume/ceph/ceph.go
  pkg/plugins/volume/ceph/size.go
  pkg/plugins/volume/emptydisk/emptydisk.go
  pkg/plugins/volume/plugins.go
  provider/cmd/app/app.go
Labels: enhancement, size/L, controllers

#67 Cleanup and update the tools installation in `Makefile`
  Makefile
Labels: size/M, chore

#119 Fix `GetSize` in `ceph` volume plugin
  pkg/plugins/volume/ceph/size.go
Labels: bug, size/XS

#121 Fix RBAC: allow `machinepoollet` to update NIC status
  config/rbac/role.yaml
  go.mod
  go.sum
  pkg/api/machine.go
  pkg/controllers/machine_controller_nics.go
  pkg/plugins/networkinterface/apinet/apinet.go
  pkg/plugins/networkinterface/plugins.go
  provider/server/machine.go
  provider/server/machine_create_test.go
Labels: bug, size/L, controllers, server, integration-tests

#124 Move `networkinterfaces/status` RBAC to `ClusterRole`
  config/rbac/cluster_role.yaml
  config/rbac/role.yaml
Labels: bug, size/S

#130 Add `irictl-machine` to provider container
  Dockerfile
  pkg/plugins/networkinterface/apinet/apinet.go
  provider/server/machine.go
Labels: bug, enhancement, size/XS, server

#113 Implemented hugepages support
  pkg/controllers/machine_controller.go
  pkg/mcr/registry.go
  provider/cmd/app/app.go
  provider/server/server.go
  provider/server/status.go
Labels: size/M, controllers, server, integration-tests

#135 Add logger to `main` package and improve logging
  provider/cmd/app/app.go
  provider/cmd/main.go
Labels: enhancement, size/M, integration-tests

#139 Fixed `nil pointer` dereference
  pkg/controllers/machine_controller_nics.go
Labels: bug, size/XS, controllers, integration-tests

#142 Implemented `Volume` resize
  pkg/controllers/machine_controller.go
  pkg/controllers/machine_controller_volumes.go
Labels: enhancement, size/M, controllers, integration-tests

#115 Reconcile `Machine`s when `libvirt` VM state changes
  pkg/controllers/machine_controller.go
  provider/cmd/app/app.go
Labels: bug, enhancement, size/L, controllers, integration-tests
