Repository ironcore-dev/libvirt-provider, pull requests merged in 2024-02, with the labels that each got.

#101 Implementing Graceful Shutdown for VMs
  pkg/api/machine.go
  pkg/controllers/machine_controller.go
  pkg/controllers/machine_controller_nics.go
  pkg/controllers/machine_controller_volumes.go
  provider/cmd/app/app.go
Labels: enhancement, size/L, controllers, integration-tests

#153 Add Apache 2.0 license file to project root
  LICENSE
  README.md
Labels: documentation, size/L, chore

#150 Improved `Makefile`
  Makefile
  config/default/kustomization.yaml
  config/development/kustomization.yaml
  config/development/machineclass-extra-huge.yaml
  config/development/machineclass-t3-small.yaml
  config/development/machineclass-x3-xlarge.yaml
  config/development/machineclasses.json
  config/development/manager.patch.yaml
  config/manager/manager.yaml
Labels: size/L

#171 Add reuse workflow
  .github/workflows/reuse.yml
Labels: size/S, chore

#160 Use `filepath.Join` in test case
  provider/server/machine_delete_test.go
  provider/server/server_suite_test.go
Labels: size/S, server, integration-tests

#169 Added `Terminating` & `Terminated` machine state
  go.mod
  go.sum
  pkg/api/machine.go
  pkg/controllers/machine_controller.go
  provider/server/machine.go
Labels: size/M, controllers, server, integration-tests

#183 Enhance Workflow Stability: Update Microceph Workflow to `quincy/stable` Channel
  .github/workflows/integration-test.yml
Labels: bug, size/XS, integration-tests, prio-high

#163 Handling Empty Files Before Unmarshalling to Prevent Unmarshal Errors
  pkg/host/store.go
Labels: bug, size/S, server, integration-tests

#190 Replace machine state sync with libvirt lifecycle event subscription
  pkg/controllers/machine_controller.go
  provider/cmd/app/app.go
  provider/server/server_suite_test.go
Labels: enhancement, size/M, controllers, server, integration-tests

#208 Rename `volume-size-resync-duration` flag to `volume-size-resync-interval`
  pkg/controllers/machine_controller.go
  provider/cmd/app/app.go
Labels: enhancement, size/S, controllers, integration-tests
